.download-button {
  display: inline-block;
  padding: 10px 40px;
  background-color: #0082A9;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.download-button:hover {
  background-color: #1098c1;
}
