.navigation {

}

.navigation__link {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navigation__link:hover {
  border-bottom-color: #FFFFFF;
}

.navigation__link:first-child {
  margin-left: 0;
  padding-left: 0;
}
