.navigation {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
}

.navigation__inner {
  max-width: 820px;
  margin: 0 auto;
  border-left: 1px solid rgba(0,0,0,0.1);
}

.navigation__link {
  display: inline-block;
  padding: 10px 20px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

.navigation__link:hover {
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4));
}

.navigation__link.active {
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}
