.header {
  background-color: #1c821d;
}

.header__inner{
  max-width: 820px;
  margin: 0 auto;
  padding: 10px;
}

.header__link {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
}

.header__logo {
  display: block;
  margin-bottom: 10px;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
