.header {
  background-color: #1c821d;
  background-image: linear-gradient(#1c821d, #59ba06);
}

.header__inner{
  max-width: 840px;
  margin: 0 auto;
}

.header__link {
  display: block;
  text-decoration: none;
  padding: 20px 10px 40px;
}

.header__logo {
  display: block;
  margin-bottom: 10px;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
