backend:
  name: git-gateway

media_folder: "src/assets/uploads" # Media files will be stored in the repo under images/uploads
public_folder: "/images/uploads" # Media files will be stored in the repo under images/uploads

collections:
  - name: "pages"
    label: "Sidor"
    delete: false
    files:
      - name: "home"
        label: "Hem"
        file: "src/data/pages/home.json"
        extension: json
        format: json
        fields:
          - {label: "Innehåll", name: "content", widget: "markdown"}
      - name: "program"
        label: "Program"
        file: "src/data/pages/program.json"
        extension: json
        format: json
        fields:
          - {label: "Innehåll", name: "content", widget: "markdown"}
          - name: "items"
            label: "Program"
            widget: "list"
            fields:
              - {label: "Titel", name: "title", widget: "string"}
              - {label: "PDF", name: "pdf", widget: "file"}
      - name: "image-gallery"
        label: "Bildgalleri"
        file: "src/data/pages/bildgalleri.json"
        extension: json
        format: json
        fields:
          - {label: "Innehåll", name: "content", widget: "markdown"}
          - name: "galleries"
            label: "Galleri"
            widget: "list"
            fields:
              - {label: "Titel", name: "title", widget: "string"}
              - name: "images"
                label: "Bilder"
                widget: "list"
                fields:
                  - {label: "Bild", name: "src", widget: "image"}
      - name: "contact"
        label: "Kontakta oss"
        file: "src/data/pages/contact.json"
        extension: json
        format: json
        fields:
          - {label: "Innehåll", name: "content", widget: "markdown"}
          - {label: "Email", name: "email", widget: "string"}
  - name: "settings"
    label: "Inställningar"
    delete: false # Prevent users from deleting documents in this collection
    editor:
      preview: false
    files:
      - name: "general"
        label: "Generellt"
        file: "src/data/settings/general.json"
        extension: json
        format: json
        description: "General Site Settings"
        fields:
          - {label: "Webbplatsens titel", name: "site-title", widget: "string"}
          - {label: "Webbplatsens beskrivning", name: "site-description", widget: "string"}
